html,
body {
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  background: #aaf2ffbe;
}

#clown:hover {
  transform: scale3d(1.2, 1.2, 1) rotate(45deg);
}

#clown {
  transition: transform 00ms;
}
