html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #aaf2ffbe;
}

#container {
  height: 300px;
}

#broom {
  animation: fly 2s infinite;
}

@keyframes fly {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
